.trip-name{
	font-size : 250%;

}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary{
	background-color: #72bb53;
	color: #fff;
	border-style: solid;
    border-color: #72bb53;
     border-width: 5px;
}
.btn-primary{
	background-color:  #72bb53;
	border-style: solid;
    border-color: #72bb53;
    border-width: 5px;
  
}
.trip-location{
	font-size: 150%;
}
.text-rsz{
	font-size : 500%;
	color: white;
}
.text-rsz-form{
	font-size : 800%;
}
.text-rsz-btn{
	font-size : 300%;
}
.nav-ctz{
	background-color: #72bb53;
@media(max-width:767px){
	.container:{
		width: 100%;
	}
}
@media (min-width: 768px){
.container {
    width: 100%;
}
@media (min-width: 992px){
.container {
    width: 80%;
}
@media(min-width:1200px){
	.container:{
		width: 80%;
	}
}

