<!DOCTYPE html>
<html>
<head>
	<title>Add Trips</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../../assets/lib/js/vendor/bootstrap-css/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/addTrips.css">
	<!-- Angular -->
	<script type="text/javascript" src="../../../assets/lib/angular/angular.min.js"></script>

	<!-- Angular Route -->
	<script type="text/javascript" src="assets/lib/angular-route/angular-route.min.js"></script>

	<!-- Angular-Bootstrap -->
	<script type="text/javascript" src="assets/lib/angular-bootstrap/ui-bootstrap.min.js"></script>

	<!-- Main scripts -->
	<script type="text/javascript" src="app/app.module.js"></script>
	<script type="text/javascript" src="app/app.routes.js"></script>

	<!-- Controller scripts -->
	<script type="text/javascript" src="addTripsController.js"></script>

	<!-- Style -->
	<link rel="stylesheet" type="text/css" href="../../../assets/css/addTrips.css">
</head>
<body>
	<nav class="navbar navbar-default nav-ctz" role="navigation">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	     </button>
	   	</div>
	    
	    <div class="navbar-collapse collapse">
	      
	        <ul class="nav nav-justified">
	        	<div class="container-fluid">
	        		<div class="row">
		            	<li class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-rsz text-left"><span class="glyphicon glyphicon-menu-left"></span></li>
		            	<li class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text-center text-rsz">Add Trip</li>
		            
		            </div> 
	        	</div>
	        </ul>
	     </div>
  </nav>
	<div class="container-fluid">
	    <div class="row">
	        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-sm">
	            <legend><a href="http://www.jquery2dotnet.com"><i class="glyphicon glyphicon-globe"></i></a> Add new trip</legend>
	            <form action="/trips" method="post" role="form">
		            
		            <div class="row ">
		                <div class="col-xs-6 col-md-6 text-rsz-btn">
		                	<span>From: </span>
		                    <input class="form-control" name="from" placeholder="From:" type="text"
		                        required autofocus />
		                </div>

		                <div class="col-xs-6 col-md-6 text-rsz-btn">
		                	<span>To: </span>
		                    <input class="form-control" name="to" placeholder="To:" type="text" required />
		                </div>
		            </div>
	            
				    <div class="row text-rsz-form" ng-controller="DatepickerDemoCtrl">
				        <div class="col-xs-6 col-md-6 ">
				            <p class="input-group text-rsz-form">
				              <input type="date" class="form-control " datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(new Date(), mode)" ng-required="true" close-text="Close" name="departureDate"/>
				              <span class="input-group-btn">

				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>

				        <div class="col-xs-6 col-md-6">
				            <p class="input-group text-rsz-form">
				              <input type="date" class="form-control" datepicker-popup ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" name="departureDate"/>
				              <span class="input-group-btn">

				                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				              </span>
				            </p>
				        </div>				        
				    </div>

		            <br />
		            <br />

	            	<button class="btn btn-lg btn-primary btn-block text-rsz-btn" type="submit">
	                Add</button>
	            </form>
	        </div>
	    </div>
	</div>

</body>
</html>