

<!-- Categories for trips: Upcoming and Past -->

<div id="my-trips-categories" ng-controller="myTripsController as trips">


	<!-- Add trip button -->
	<div>

		<a href="/trips.html">
			<button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false">Add Trip</button>		
		</a>


		<!-- Show form if add buttion is clicked -->
		<!-- <div ng-show="showed">
			<div class="container">
				<h2>Add Trips</h2>
				<form role="form">
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon2">Trip name</span>
					  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
					</div>
					<div class="input-group">
						<span class="input-group-addon" id="basic-addon2">Location</span>
					  <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
					</div>

					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>

		</div> -->

	</div>


	<div class="row">
		<div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
					<button type="button" class="btn btn-primary col-lg-6 col-md-6 col-sm-6 col-xs-6" aria-haspopup="true" aria-expanded="false" ng-init="upcoming = true" ng-click="showUpcomingTrips()">Upcoming</button>
			
					<button type="button" class="btn btn-primary col-lg-6 col-md-6 col-sm-6 col-xs-6" ng-init="past = true" aria-haspopup="true" aria-expanded="false" ng-click="showPastTrips()">Past</button>
		
			</div>
	</div>

	<div class="row">

		<!-- Upcoming -->
		<div ng-show="upcoming">
			<div id="my-trips-upcoming-list" class="col-lg-12 col-md-12 com-sm-12 col-xs-12" ng-repeat="upcoming in trips.upcoming">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-left">
								<img src="../assets/image/Singapore_image_1.jpg" class="img-thumbnail" width="200" height="200">				
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
								<div class="row trip-name"><strong>{{upcoming.name}}</strong></div>
								<div class="row trip-location"><strong>{{upcoming.location}}</strong></div>
								<div class="row">{{upcoming.details}}</div>
							</div>						

						</div>

					</a>
				</div>

			</div>					
		</div>	

		<!-- Past -->
		<div ng-hide="past">
			<div id="my-trips-past-list" class="col-lg-12 col-md-12 com-sm-12 col-xs-12" ng-repeat="past in trips.past">
				<div class="list-group">
					<a href="#" class="list-group-item">
						<div class="row">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 pull-left">
								<img src="../assets/image/Singapore_image_1.jpg" class="img-thumbnail" width="200" height="200">				
							</div>
							<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-left">
								<div class="row trip-name"><storng>{{past.name}}</strong></div>
								<div class="row trip-location"><strong>{{past.location}}</strong></div>
								<div class="row">{{past.details}}</div>
							</div>						

						</div>

					</a>
				</div>
			</div>					
		</div>

	</div>

</div>





