<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Transportation</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="../../../assets/lib/js/vendor/bootstrap-css/css/bootstrap.min.css">

	<!-- Angular -->
	<script type="text/javascript" src="../../../assets/lib/angular/angular.min.js"></script>

	<!-- Angular Route -->
	<script type="text/javascript" src="assets/lib/angular-route/angular-route.min.js"></script>

	<!-- Angular-Bootstrap -->
	<script type="text/javascript" src="assets/lib/angular-bootstrap/ui-bootstrap.min.js"></script>

	<!-- Main scripts -->
	<script type="text/javascript" src="app/app.module.js"></script>
	<script type="text/javascript" src="app/app.routes.js"></script>

	<!-- Controller scripts -->
	<script type="text/javascript" src="transportationController.js"></script>

</head>
<body>


	<div class="container text-center">
		
	</div>
</body>
</html>